# Toronto Neighbourhoods

Scrape a table from Wikipedia using pandas, then drop missing values and clean the table.

In [1]:
import pandas as pd

In [2]:
url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
df_list = pd.read_html(url)
len(df_list)

3

In [ ]:
# Access the table that is in the first place of our list and save it as df_toronto.
df_toronto = df_list[0]
df_toronto.head()

In [6]:
# Delete rows where not assigned.
df_toronto = df_toronto[df_toronto.Borough != "Not assigned"]
df_toronto.reset_index(drop=True, inplace=True)
df_toronto.head()

  Postal Code           Borough                                Neighbourhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [7]:
import numpy as np
#Checks whether all listed neighbourhoods are assigned to each postal code within one row
print(df_toronto.shape)
print(df_toronto["Postal Code"].value_counts)

(103, 3)
<bound method IndexOpsMixin.value_counts of 0      M3A
1      M4A
2      M5A
3      M6A
4      M7A
      ...
98     M8X
99     M4Y
100    M7Y
101    M8Y
102    M8Z
Name: Postal Code, Length: 103, dtype: object>

In [8]:
#There are no not assigned neighbourhood values.
df_toronto.loc[df_toronto["Neighbourhood"] == "Not assigned"]

Empty DataFrame
Columns: [Postal Code, Borough, Neighbourhood]
Index: []

In [9]:
df_toronto.shape

(103, 3)