# Prague Neighbourhoods Project

In [1]:
import pandas as pd

In [2]:
# scrape a table of Prague postal codes
url = "https://postovnismerovacicisla.cz/psc/Praha"
df_ZIP = pd.read_html(url, encoding="UTF8")
df_Prague_Postal_Data = df_ZIP[0]
df_Prague_Postal_Data.head()

       0                    1          2            3
0    Psč                Město      Pošta        Okres
1  11800   Praha 1-Holešovice  Praha 011  Praha hl.m.
2  11800     Praha 1-Hradčany  Praha 011  Praha hl.m.
3  11800  Praha 1-Malá Strana  Praha 011  Praha hl.m.
4  11900     Praha 1-Hradčany  Praha 012  Praha hl.m.

In [3]:
header = df_Prague_Postal_Data.iloc[0]
df_Prague_Postal_Data = df_Prague_Postal_Data[1:]
df_Prague_Postal_Data.columns = header
df_Prague_Postal_Data.head()

0    Psč                Město      Pošta        Okres
1  11800   Praha 1-Holešovice  Praha 011  Praha hl.m.
2  11800     Praha 1-Hradčany  Praha 011  Praha hl.m.
3  11800  Praha 1-Malá Strana  Praha 011  Praha hl.m.
4  11900     Praha 1-Hradčany  Praha 012  Praha hl.m.
5  11000      Praha 1-Josefov    Praha 1  Praha hl.m.

In [5]:
df_Prague_ZIP = df_Prague_Postal_Data\
    .drop(columns=["Pošta", "Okres"]) \
    .rename(columns={"Psč": "Postal_Code", "Město": "Neighbourhood"})

df_Prague_ZIP[["Borough", "Neighbourhood"]] = df_Prague_ZIP["Neighbourhood"].str.split("-", expand=True)
df_Prague_ZIP.reset_index(drop=True, inplace=True)
df_Prague_ZIP.head()

0 Postal_Code Neighbourhood  Borough
0       11800    Holešovice  Praha 1
1       11800      Hradčany  Praha 1
2       11800   Malá Strana  Praha 1
3       11900      Hradčany  Praha 1
4       11000       Josefov  Praha 1